<nav>
  <a href="">Página inicial</a> |
  <div class="dropdown">
    <span class="dropbtn"><a href="servicos.html">Serviços</a></span>
    <div class="dropdown-content">
      <a href="servicos/explicacoes-de-matematica-ensino-secundario.html">Explicações de Matemática - Ensino Secundário</a>
      <a href="servicos/explicacoes-de-matematica-ensino-superior.html">Explicações de Matemática - Ensino Superior</a>
      <a href="servicos/preparacao-de-maiores-de-23.html">Preparação de Maiores de 23</a>
    </div>
  </div> |
  <a href="descontos.html">Descontos</a> |
  <a href="blog.html">Blog</a> |
  <a href="contacto.html">Contacto</a>
</nav>